<html>
<head>
  <title>Plant Screen</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- gives browser instructions on how to control
  page dimensions and scaling -->
  

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/archive.css" rel="stylesheet">

</head>
<body>
  <div class = "container">
    <h2><i class="arrow leftArrow" onclick="history.back(-1)"></i>Archive</h2>
    <hr size="30">
    <div class = "shelf">
        <img src = "https://i.imgur.com/TdhrOfH.png">
        <div class = "prize">
            <img src = "https://i.imgur.com/KOBdr76.png">
        </div>
        <img src = "https://i.imgur.com/TdhrOfH.png">
        <img src = "https://i.imgur.com/TdhrOfH.png">
    </div>

  <div class="btn-group" style="width:100%">
      {{#if viewAlt}}
        <a href="sipAlt"><button class="fillbtn" style="width:19%">Sip</button></a>
      {{else}}
        <a href="sip"><button class="fillbtn" style="width:19%">Sip</button></a>
      {{/if}}
      <a href="friends"><button class="fillbtn" style="width:19%">Friends</button></a>
  </div>
  
</div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src= "js/bootstrap.js"></script>

</body>
</html>
