.container {
  text-align: center;
  border: 3px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 100%;
}

.header {
  text-align: center;
  border: 3px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

i {
  border: solid black; 
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px 10px;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  
}
 
.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: 3px;
  right: 140px;
}

hr {
  display: block;
  margin-top: 1.1em;
  margin-bottom: 7.5em;
  margin-left: block;
  margin-right: block;
  border-style: inset;
  border-width: 2px;
  border: solid black; 
}

.btn-group button {
  background-color: white; 
  border: 2px solid #9e9b9b;
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  text-align: center;
  transition-duration: 0.4s;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #008CBA;
}

img {
  vertical-align: middle;
  padding-bottom: 40px;
  padding-top: 30px;
  width: 100%;
}

.shelf {
	position: relative;
}

.prize {
	position: absolute;
	left: 35;
	top: -140;
	width: 90px;
}

body{
    overflow-x:hidden;
}